{{#if logged_in}}
<section id="menu-item" class="relative flex-column justify-center">
  <div id="indicator"
    class="absolute invisible h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-blue-600">
  </div>
  <div id="myposts" class="w-full text-gray-900 text-center">
    <a href="/myposts" aria-current="true"
      class="block w-full px-8 hover:bg-emerald-300 hover:text-gray-900 active:bg-emerald-400 active:shadow-md transition duration-500 cursor-pointer">
      <div class="border-b-2 py-3 border-blue-200 text-center mx-auto">
        <p>My Posts</p>
      </div>
    </a>
  </div>
</section>
{{/if}}
<section id="menu-item" class="relative flex-column justify-center">
  <div id="indicator"
    class="absolute invisible h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-blue-600">
  </div>
  <div id="todaysposts" class="w-full text-gray-900 text-center">
    <a href="/todaysposts" aria-current="true"
      class="block w-full px-8 hover:bg-emerald-300 hover:text-gray-900 active:bg-emerald-400 active:shadow-md transition duration-500 cursor-pointer">
      <div class="border-b-2 py-3 border-blue-200 text-center mx-auto">
        <p>Today's Posts</p>
      </div>
    </a>
  </div>
</section>