<div id="right-panel-details">
  <!-- MAIN POST -->
  <section id="mainPost" class="border-b-2 border-blue-200">
    <div id="postContentHeader">
      <h2 class="font-semibold text-3xl mb-5">{{content.title}}</h2>
      <div class="flex items-center">
        <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full w-10"
            alt="Avatar">
        </span>
        <div class="px-2">
          <p>Started by <span class="text-blue-600 font-medium">NAME</span></p>
          <p>on <span class="font-semibold">DATE</span></p>
        </div>
      </div>
    </div>

    <div id="postContent">
      <div class="mt-4">
        <p>
          {{content.user}}
        </p>
      </div>
    </div>


    <div class="flex" id="postContentFooter">
      <div class="flex pt-5 pb-10 mr-5">
        <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
            src="./images/reply_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Reply">
        </span>
        <p>Reply</p>
      </div>

      <div class="flex pt-5 pb-10 mr-5">
        <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
            src="./images/format_quote_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Quote">
        </span>
        <p>Quote</p>
      </div>
    </div>
  </section>

  <!-- REPLY -->
  <section id="postReply" class="my-5 border-b-2 border-blue-200">
    <div class="flex items-center">
      <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full w-10"
          alt="Avatar">
      </span>
      <div class="px-2">
        <p><span class="text-blue-600 font-medium">NAME</span></p>
        <p>on <span class="font-semibold">DATE</span></p>
      </div>
    </div>

    <div id="postContent">
      <div class="mt-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et
          dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    <div class="flex" id="postContentFooter">
      <div class="flex pt-5 pb-10 mr-5">
        <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
            src="./images/reply_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Reply">
        </span>
        <p>Reply</p>
      </div>

      <div class="flex pt-5 pb-10 mr-5">
        <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
            src="./images/format_quote_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Quote">
        </span>
        <p>Quote</p>
      </div>
    </div>
  </section>
</div>