<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tech Notes Today</title>
</head>

<body>
  <div class="flex flex-row min-h-screen max-h-screen p-2 bg-slate-600">

    <main id="panels" class="flex flex-col md:flex-row w-full">

      <!-- SIDE NAV -->
      <nav id="sideNav" class="flex-co bg-sky-900 rounded-t-md md:rounded-bl-md shadow-lg">

        <!-- NAV HEADER -->
        <section id="navHeader"
          class="flex md:w-60 sm:w-full justify-between shadow-md font-shadows font-extrabold text-gray-300">
          <a href="/">
            <div class="flex md:block py-2 px-3">
              <p class="text-3xl">Tech</p>
              <p class="text-3xl">Messages</p>
            </div>
          </a>

          <!-- NAVBAR HEADER DISPLAY -->
          {{> navbar-header-details}}
        </section>

        <!-- NAVBAR MENU ITEM -->
        {{> navbar-menu-details}}
      </nav>

      {{{body}}}

    </main>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>