<!-- LEFT PANEL -->
<section id="left-panel" class="flex-col w-full md:w-1/2 bg-slate-400 text-gray-100">
  <div class="flex-col max-h-52 md:max-h-full overflow-auto no-scrollbar">

    <!-- PANEL HEADER -->
    <section id="leftPanelHeader"
      class="sticky z-20 flex flex-row md:flex-row xl:flex-row justify-between items-center top-0 px-6 pb-2 pt-1 w-full border-b-4 border-blue-300 bg-slate-600">

      <h2 class="py-1 font-semibold text-3xl hidden md:block">{{pageTitle}}</h2>
      <div class="flex justify-between items-center">

        {{#if partialSearch}}
        {{> (lookup . 'partialSearch')}}
        {{/if}}

    </section>

    {{#if partial}}
    {{> (lookup . 'partial')}}
    {{else}}
    <div class="relative h-screen bg-keyboard-img bg-cover bg-no-repeat ">
      <div class="flex flex-col items-center">
        <h3 class="text-5xl font-bold text-white">
          Welcome to Tech Messages!
        </h3>
      </div>
      <div class="absolute flex flex-col top-1/4">
        <h3 class="text-3xl font-black mb-4 bg-blue-400 text-yellow-300 w-fit px-2 py-2">
          <a href="/login"><span class="underline">Login or Register</span></a> to join a conversation.
        </h3>
      </div>
      <div class="absolute flex flex-col justify-start top-1/2">
        <h3 class="text-6xl font-black mb-4 bg-blue-400 text-yellow-300 w-fit px-2 py-2">Collab</h3>
        <h3 class="text-6xl font-black mb-4 bg-blue-400 text-yellow-300 w-fit px-2 py-2 ml-20">Share</h3>
        <h3 class="text-6xl font-black mb-4 bg-blue-400 text-yellow-300 w-fit px-2 py-2 ml-36">Learn</h3>
      </div>
    </div>
    {{/if}}

  </div>
</section>

<!-- RIGHT PANEL -->
<section id="right-panel"
  class="flex-col w-full md:w-1/2 h-full p-2 md:p-4 shadow-lg bg-blue-300 text-gray-700 rounded-b-md md:rounded-bl-none md:rounded-t-md md:rounded-br-md overflow-y-auto no-scrollbar">
  <div
    class="flex h-full shadow-md pt-2 md:pt-4 px-2 md:px-6 leading-3 rounded-lg overflow-auto no-scrollbar bg-man-img bg-cover bg-center">

    <div id="right-panel-details" class="w-full">
      <!-- Cards inserted from JS -->
    </div>


  </div>
  <script src="/js/posts.js"></script>
</section>