<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <title>Tech Notes Today</title>
</head>

<body>
  <div class="flex flex-row max-h-screen min-h-screen p-2 bg-slate-500">

    <main class="flex flex-col md:flex-row w-full" id="panels">

      <!-- navbar -->
      <nav id="sideNav" class="flex-col bg-green-600 rounded-t-md rounded-bl-md shadow-lg">

        <!-- NAV HEADER -->
        <section id="navHeader" class="flex md:w-60 sm:w-full justify-between shadow-md">

          <div class="relative z-10 flex md:block py-2 px-3">
            <p class="text-2xl">TechNotes</p>
            <p class="text-2xl">Today<span>
                <div class="absolute top-5 right-0 -z-10">
                  <img src="../public/images/tnt-block.svg" class="w-20">
                </div>
              </span></p>

          </div>


          <!-- NAVBAR HEADER DISPLAY -->
          <section id="navbar-header-display"
            class="flex flex-row md:flex-col justify-between items-center pt-4 pb-2 px-3">

            <a href="#!">
              <div class="flex items-center">
                <div class="shrink-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full w-10" alt="Avatar">
                </div>
              </div>
            </a>

            <button id="logout" type="button" class="pl-1 py-1">
              <div class="flex items-center shrink-0">
                <img src="../public/images/logout_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-7" alt="Logout">
              </div>
            </button>

          </section>

        </section>

        <!-- NAVBAR MENU ITEM -->
        <section id="menuItem" class="relative flex justify-center">
          <div
            class="absolute h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-black">
          </div>
          <div id="menuItemButton" class="w-full text-gray-900 text-center">
            <div
              class="block w-full px-8 hover:bg-blue-300 hover:text-gray-900 active:bg-blue-400 active:shadow-md transition duration-500 cursor-pointer">
              <div class="border-b-2 py-3 border-blue-200 mx-auto">
                <p class="text-xl font-black text-center">My Posts</p>
              </div>
            </div>
          </div>
        </section>
        <section id="menuItem" class="relative flex justify-center">
          <div
            class="absolute h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-blue-600">
          </div>
          <div class="w-full text-gray-900 text-center">
            <a href="#!" aria-current="true"
              class="block w-full px-8 hover:bg-emerald-300 hover:text-gray-900 active:bg-emerald-400 active:shadow-md transition duration-500 cursor-pointer">
              <div class="border-b-2 py-3 border-blue-200 text-center mx-auto">
                <p>My Posts</p>
              </div>
            </a>
          </div>
        </section>

      </nav>

      <!-- left panel -->
      <section id="left-panel" class="flex-col w-full md:w-1/2 bg-slate-400 text-gray-100">
        <div class="flex-col max-h-64 md:max-h-screen overflow-auto no-scrollbar">
          <section id="leftPanelHeader"
            class="sticky flex flex-col md:flex-col xl:flex-row justify-between items-center top-0 px-6 p-0 lg:pt-4 pb-4 w-full border-b-4 border-blue-200 bg-slate-500 z-10">

            <h2 class="py-1 font-semibold text-3xl">Section Title</h2>
            <div class="flex justify-between items-center">

              <div class="flex h-8 mx-2" id="searchBar">
                <span
                  class="flex items-center px-3 py-1.5 text-base font-normal text-gray-100 text-center whitespace-nowrap rounded"
                  id="basic-addon2">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                  </svg>
                </span>
                <div>
                  <input type="search"
                    class="w-full max-w-sm px-3 py-1 border border-solid border-gray-400 rounded caret-black focus:outline-none"
                    placeholder="Search">
                </div>
              </div>

              <div class="mx-3">
                <div>
                  <button id="create-post" type="button"
                    class="btn inline-block px-3 pb-1 bg-black text-blue-300 leading-tight uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                    <span class="text-xs font-semibold pointer-events-none">Create</span></button>
                </div>
              </div>
            </div>
          </section>
          <div class="flex-col h-full overflow-auto no-scrollbar">

            <section id="postCards" class="relative flex w-full px-10">
              <div
                class="absolute top-1/2 -right-3 transform -translate-x-1/2 -translate-y-1/2 h-0 w-0 border-y-[32px] border-r-[24px] border-y-transparent border-blue-200">
              </div>
              <div class="flex justify-center w-full p-2 border-b-2 border-blue-200">
                <div id="card"
                  class="flex-row w-full p-1 rounded-sm drop-shadow-md hover:shadow-md active:shadow-lg cursor-pointer">
                  <h2 class="text-gray-100 text-xl leading-tight font-medium">Post Title</h2>
                  <p class="text-gray-100 text-base mb-1">
                    Started by <span class="text-blue-600 font-medium">NAME</span> &#9830 <span
                      class="text-blue-600 font-medium"></span>
                  </p>
                </div>
              </div>
            </section>
          </div>
      </section>

      <!-- right panel -->
      <!-- edits -->
      <section id="right-panel"
        class="flex-col w-full md:w-1/2 max-h-full p-2 md:p-4 shadow-lg bg-blue-200 text-gray-700 rounded-b-md md:rounded-bl-none md:rounded-t-md md:rounded-br-md overflow-y-auto no-scrollbar">
        <div
          class="flex h-full shadow-md pt-2 md:pt-4 px-2 md:px-6 leading-none bg-slate-100 rounded-lg overflow-y-auto no-scrollbar">

          <div id="right-panel-details" class="w-full">

            <section id="thread">

              <div id="mainPost" class="border-b-2 border-blue-200">
                <div id="postContentHeader">
                  <div class="flex justify-between items-center">
                    <h2 class="font-semibold text-lg md:text-3xl">Main Title</h2>

                    <div>
                      <button id="main-post" type="button" data-postid={{mainPostContent.threadID}}
                        class="del-btn flex align-middle px-2 bg-black text-blue-300 uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                        <span class="text-xs font-semibold pointer-events-none">Delete</span></button>
                    </div>
                  </div>

                  <div class="flex items-center">
                    <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                        class="rounded-full w-8 md:w10" alt="Avatar">
                    </span>
                    <div class="px-2 text-xs md:text-base">
                      <p>Started by <span id="createdbyName" class="text-blue-600 font-medium">Username</span></p>
                      <p><span id="createdbyDate" class="font-semibold">12/12/12 Blahday</span></p>
                    </div>
                  </div>
                </div>

                <div id="postContent" data-postid={{mainPostContent.postid}}>
                  <div class="mt-2 md:mt-4">
                    <p id="mainContent" class="content">
                      <span class="text-sm md:text-base">Blah blah blah post content</span>


                    <div class="flex justify-end">
                      <p
                        class="edit-post text-xs font-semibold mr-2 cursor-pointer text-slate-400 hover:text-slate-700 active:text-slate-400 duration-150 ease-in-out">
                        <span class=" pointer-events-none">edit</span>
                      </p>
                    </div>

                    </p>
                  </div>
                </div>

                <div id="postContentFooter" class="flex pt-2 md:pt-5 pb-2 md:pb-5">
                  <div class="flex md:pr-4">
                    <button id="reply-btn" type="button" data-postid={{mainPostContent.threadID}}
                      class="reply-btn shrink-0 rounded-full p-1 mx-2 shadow-lg bg-blue-300 hover:bg-blue-400 active:shadow-none">
                      <span class="pointer-events-none">
                        <img src="../public/images/reply_FILL0_wght400_GRAD0_opsz48.svg"
                          class="rounded-full w-3 md:w-5 pointer-events-none" alt="Reply">
                      </span>
                    </button>
                    <p class="hidden md:flex">Reply</p>
                  </div>

                  <div class="flex">
                    <button id="reply-btn" type="button" data-postid={{mainPostContent.threadID}}
                      class="quote-btn pointer-events-none shrink-0 rounded-full p-1 mx-2 shadow-lg bg-gray-300 hover:bg-blue-400 active:shadow-none">
                      <span class="pointer-events-none">
                        <img src="../public/images/format_quote_FILL0_wght400_GRAD0_opsz48.svg"
                          class="rounded-full w-3 md:w-5" alt="Quote">
                      </span>
                    </button>
                    <p class="hidden md:flex">Quote</p>
                  </div>
                </div>
              </div>

              <!-- post -->
              <div id="postReply" class="my-3 pb-2 border-b-2 border-blue-200">
                <div class="flex items-center">
                  <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                      class="rounded-full w-8 md:w10" alt="Avatar">
                  </span>

                  <div class="flex justify-between items-center w-full">
                    <div class="px-2 text-xs md:text-base">
                      <p><span class="text-blue-600 font-medium">Username</span></p>
                      <p><span class="font-semibold">12/12/12 Frinsday</span></p>
                    </div>

                    <div>
                      <button id="main-post" type="button" data-postid={{mainPostContent.threadID}}
                        class="del-btn flex align-middle px-2 bg-black text-blue-300 uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                        <span class="text-xs font-semibold pointer-events-none">Delete</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div id="postContent" data-postid={{id}}>
                  <div class="mt-2 md:mt-4 break-words overflow-hidden">
                    <p class="content" class="content">
                      <span class="text-sm md:text-base">blah blah blahb
                        lahbsadfasdfasasdfasdfsadfasdfasdfasdfasdfasdfsadfasdfasdf asdf</span>

                    <div class="flex justify-end">
                      <p
                        class="edit-post text-xs font-semibold mr-2 cursor-pointer text-slate-400 hover:text-slate-700 active:text-slate-400 duration-150 ease-in-out">
                        <span class=" pointer-events-none">edit</span>
                      </p>
                    </div>

                    </p>
                  </div>
                </div>
              </div>

              <!-- reply -->
              <!-- <div id="post-box" class="my-3 pb-2 border-b-2 border-blue-200">
                <div class="flex w-full justify-end">
                  <p
                    class="close-form flex items-center justify-center mr-2 pb-1 border border-transparent rounded-full h-4 w-4 text-slate-400 hover:border-slate-500 hover:text-slate-900 active:text-slate-400 active:border-transparent cursor-pointer duration-150 ease-in-out">
                    <span class="pointer-events-none">x</span></p>
                </div>

                <div class="w-full">
                  <label class="flex uppercase text-gray-700 text-xs font-bold mb-2" for="textarea">
                    Enter your reply:
                  </label>
                  <textarea id="reply-textarea" name="textarea"
                    class="appearance-none flex w-full text-sm md:text-base bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 md:py-3 px-2 md:px-4 mb-3 leading-none md:leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    rows="5"></textarea>
                </div>

                <div class="flex justify-start">
                  <button id="reply-btn" type="button"
                    class="btn flex align-middle px-2 bg-black text-blue-300 uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                    <span class="text-xs font-semibold pointer-events-none">Send It</span></button>
                </div>
              </div> -->

              <!-- new thread -->
              <div class="flex w-full">
                <div id="post-box" class="my-3 pb-2 border-b-2 w-full border-blue-200">
                  <div class="flex w-full justify-end mb-2">
                    <p
                      class="close-form flex items-center justify-center mr-2 pb-1 border border-transparent rounded-full h-4 w-4 text-slate-400 hover:border-slate-500 hover:text-slate-900 active:text-slate-400 active:border-transparent cursor-pointer duration-150 ease-in-out">
                      <span class="pointer-events-none">x</span>
                    </p>
                  </div>
                  <div>
                    <input id="thread-title" name="title"
                      class="appearance-none flex w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 md:px-4 mb-3 leading-none focus:outline-none focus:bg-white focus:border-gray-500"
                      type="text" placeholder="Title">
                  </div>
                  <div class="w-full">
                    <textarea id="thread-content" name="content"
                      class="appearance-none flex w-full text-sm md:text-base bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 md:px-4 mb-3 leading-none focus:outline-none focus:bg-white focus:border-gray-500"
                      rows="10" placeholder="Content"></textarea>
                  </div>
                  <div class="flex justify-start">
                    <button id="thread-btn" type="button"
                      class="btn flex align-middle px-2 bg-black text-blue-300 uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                      <span class="text-xs font-semibold pointer-events-none">Create It</span></button>
                  </div>
                </div>
              </div>

              <!-- modify -->
              <div id="post-box" class="pb-4 mb-2 border-b-2 border-blue-200">
                <div class="flex w-full justify-end mb-2">
                  <p
                    class="close-edit flex items-center justify-center mr-2 pb-1 border border-transparent rounded-full h-4 w-4 text-slate-400 hover:border-slate-500 hover:text-slate-900 active:text-slate-400 active:border-transparent cursor-pointer duration-150 ease-in-out">
                    <span class="pointer-events-none">x</span>
                  </p>
                </div>
                <div class="w-full">
                  <textarea id="edit-textarea" name="textarea"
                    class="appearance-none block w-full text-sm md:text-base bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 md:px-4 mb-3 leading-3 focus:outline-none focus:bg-white focus:border-gray-500"
                    rows="5">asdfasdf</textarea>
                </div>
                <div class="flex justify-start">
                  <button id="edit-btn" type="button"
                    class="btn flex align-middle px-2 bg-black text-blue-300 uppercase rounded shadow-md hover:bg-blue-300 hover:text-slate-900 hover:shadow-lg active:outline-none active:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">
                    <span class="text-xs font-semibold pointer-events-none">Send It</span></button>
                </div>
              </div>

            </section>

          </div>

        </div>
      </section>

    </main>
  </div>
</body>