<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <title>Tech Notes Today</title>
</head>

<body>
  <div class="flex h-screen p-2 bg-slate-500">

    <!-- SIDE NAV -->
    <nav id="sideNav" class="bg-red-600 rounded-t-md rounded-bl-md shadow-lg">

      <!-- NAV HEADER -->
      <section id="navHeader" class="w-60 shadow-md">
        <div class="py-2 px-6">
          <p class="text-4xl">Site Title</p>
        </div>

        <!-- NAVBAR HEADER DISPLAY -->
        <section id="navbar-header-display" class="flex justify-between pt-4 pb-2 px-6">

          <!-- <a href="#!">
            <div class="flex items-center">
              <div class="shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full w-10" alt="Avatar">
              </div>
              <div class="grow ml-3">
                <p class="text-sm font-semibold text-blue-600">Jason McCoel</p>
              </div>
            </div>
          </a>

          <button id="logout" type="">
            <div class="flex items-center">
              <div class="shrink-0">
                <img src="./images/logout_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-10" alt="Logout">
              </div>
            </div>
          </button> -->


          <div class="mx-auto">
            <a href="#!">
              <button type="button"
                class="inline-block px-6 py-2 bg-black text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-300 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out">Login</button>
            </a>
          </div>


        </section>

      </section>

      <!-- NAVBAR MENU ITEM -->
      <section id="menuItem" class="relative flex-column justify-center">
        <div
          class="absolute h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-black">
        </div>
        <div id="menuItemButton" class="w-full text-gray-900 text-center">
          <div 
            class="block w-full px-8 hover:bg-blue-300 hover:text-gray-900 active:bg-blue-400 active:shadow-md transition duration-500 cursor-pointer">
            <div class="border-b-2 py-3 border-blue-200 mx-auto">
              <p class="text-xl font-black text-center">My Posts</p>
            </div>
          </div>
        </div>
      </section>
      <section id="menuItem" class="relative flex-column justify-center">
        <div
          class="absolute h-0 w-0 left-2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 border-y-[24px] border-l-[17px] border-y-transparent border-blue-600">
        </div>
        <div class="w-full text-gray-900 text-center">
          <a href="#!" aria-current="true"
            class="block w-full px-8 hover:bg-emerald-300 hover:text-gray-900 active:bg-emerald-400 active:shadow-md transition duration-500 cursor-pointer">
            <div class="border-b-2 py-3 border-blue-200 text-center mx-auto">
              <p>My Posts</p>
            </div>
          </a>
        </div>
      </section>

    </nav>


    <!-- Main -->
    <main class="flex w-screen" id="panels">

      <!-- LEFT PANEL -->
      <section id="leftPanel" class="flex w-full bg-slate-400 text-gray-100 overflow-auto no-scrollbar">
        <div class="flex-col w-full overflow-auto no-scrollbar">

          <!-- PANEL HEADER -->
          <section id="leftPanelHeader"
            class="sticky flex justify-between items-center top-0 px-6 pt-8 pb-4 w-full border-b-4 border-blue-200 bg-slate-500 z-10">
            <h2 class="font-semibold text-3xl">Section Title</h2>
            <div class="flex h-8" id="searchBar">
              <span
                class="flex items-center px-3 py-1.5 text-base font-normal text-gray-100 text-center whitespace-nowrap rounded"
                id="basic-addon2">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                  </path>
                </svg>
              </span>
              <input type="search"
                class="w-full max-w-sm px-3 py-1 border border-solid border-gray-400 rounded caret-black focus:outline-none"
                placeholder="Search">
            </div>
          </section>


          <!-- POST CARD -->
          <section id="postCards" class="relative flex w-full px-10">
            <div
              class="absolute top-1/2 -right-3 transform -translate-x-1/2 -translate-y-1/2 h-0 w-0 border-y-[32px] border-r-[24px] border-y-transparent border-blue-200">
            </div>
            <div class="flex justify-center w-full p-2 border-b-2 border-blue-200">
              <div id="card"
                class="flex-row w-full p-1 rounded-sm drop-shadow-md hover:shadow-md active:shadow-lg cursor-pointer">
                <h2 class="text-gray-100 text-xl leading-tight font-medium">Post Title</h2>
                <p class="text-gray-100 text-base mb-1">
                  Started by <span class="text-blue-600 font-medium">NAME</span> &#9830 <span class="text-blue-600 font-medium"></span>
                </p>
              </div>
            </div>
          </section>

        </div>
      </section>

      <!-- RIGHT PANEL -->
      <section id="rightPanel" class="flex w-full p-4 shadow-lg bg-blue-200 text-gray-700 rounded-t-md rounded-br-md">
        <div class="flex-col shadow-md w-full pt-4 px-6 bg-slate-100 rounded-lg overflow-auto no-scrollbar">

          <!-- MAIN POST -->
          <section id="mainPost" class="border-b-2 border-blue-200">
            <div id="postContentHeader">
              <h2 class="font-semibold text-3xl mb-5">Post Title</h2>
              <div class="flex items-center">
                <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                    class="rounded-full w-10" alt="Avatar">
                </span>
                <div class="px-2">
                  <p>Started by <span class="text-blue-600 font-medium">NAME</span></p>
                  <p>on <span class="font-semibold">DATE</span></p>
                </div>
              </div>
            </div>

            <div id="postContent">
              <div class="mt-4">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>


            <div class="flex" id="postContentFooter">
              <div class="flex pt-5 pb-10 mr-5">
                <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
                    src="../public/images/reply_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Reply">
                </span>
                <p>Reply</p>
              </div>

              <div class="flex pt-5 pb-10 mr-5">
                <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
                    src="../public/images/format_quote_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5"
                    alt="Quote">
                </span>
                <p>Quote</p>
              </div>
            </div>
          </section>

          <!-- REPLY -->
          <section id="postReply" class="my-5 border-b-2 border-blue-200">
            <div class="flex items-center">
              <span class="shrink-0"><img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                  class="rounded-full w-10" alt="Avatar">
              </span>
              <div class="px-2">
                <p><span class="text-blue-600 font-medium">NAME</span></p>
                <p>on <span class="font-semibold">DATE</span></p>
              </div>
            </div>

            <div id="postContent">
              <div class="mt-4">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <div class="flex" id="postContentFooter">
              <div class="flex pt-5 pb-10 mr-5">
                <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
                    src="../public/images/reply_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5" alt="Reply">
                </span>
                <p>Reply</p>
              </div>

              <div class="flex pt-5 pb-10 mr-5">
                <span class="shrink-0 rounded-full p-1 mx-2 bg-emerald-400"><img
                    src="../public/images/format_quote_FILL0_wght400_GRAD0_opsz48.svg" class="rounded-full w-5"
                    alt="Quote">
                </span>
                <p>Quote</p>
              </div>
            </div>
          </section>

        </div>
      </section>
    </main>

    <!-- LOGIN  -->
    <!-- <div class="flex w-full" id="login">
        <section class="h-screen">
          <div class="px-6 h-full text-gray-800">
            <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
              <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="w-full" alt="Sample image" />
              </div>
              <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                <form>
                  <div
                    class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
                    <p class="text-center font-semibold mx-4 mb-0">Sign In</p>
                  </div>

                  <!- - Email input - ->
                  <div class="mb-6">
                    <input type="text"
                      class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="exampleFormControlInput2" placeholder="Email address" />
                  </div>

                  <!- - Password input - ->
                  <div class="mb-6">
                    <input type="password"
                      class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="exampleFormControlInput2" placeholder="Password" />
                  </div>

                  <div class="flex justify-between items-center mb-6">
                    <a href="#!" class="text-gray-800">Forgot password?</a>
                  </div>

                  <div class="text-center lg:text-left">
                    <button type="button"
                      class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                      Login
                    </button>
                    <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                      Don't have an account?
                      <a href="#!"
                        class="text-red-300 hover:text-red-500 active:text-red-300 transition duration-200 ease-in-out">Register</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div> -->

    <!-- REGISTRATION -->

  </div>

</body>

</html>